@font-face {
    font-family: 'Striverx';
    src: url('assets/fonts/Striverx.ttf');
}

.nav-img {
    width: 40px;
}

.card {
    background-color: #283138;
    color: white;
}

#destination {
    margin-top: 3rem;
}

#head-text {
    font-family: Striverx;
    font-size: 100px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.booking {
    color: white;
}

body {
    background-color: #1b262c;
}

.title {
    color: white;
    text-align: center;
    margin-top: 6rem;
}

#date-booking {
    width: 100%;
    height: 42px;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    color: white;
    padding-top: 10px;
    height: 50px;
    background-color: #283138;
}

.jumbotron {
    background: linear-gradient(#eb01a500, #1b262c), url('assets/images/kawah-ijen.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
    height: 100vh;
    border-radius: 0px;
    padding-top: 20rem;
    margin-top: 0px;
}

@media (max-width: 768px) {
    .booking {
        color: white;
        padding: 16px;
    }
}

#lightMode {
    background-color: #e4fbff;
    color: #1b262c;
}

#lightMode .jumbotron {
    background: linear-gradient(#e4fbff00, #e4fbff), url('assets/images/kawah-ijen.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    color: #0d6efd;
    height: 100vh;
    border-radius: 0px;
    padding-top: 20rem;
    margin-top: 0px;
}

#lightMode #head-desc {
    color: #1b262c;
}

#lightMode .title {
    text-align: center;
    margin-top: 6rem;
    color: #1b262c;
}

#lightMode .booking {
    margin-top: 6rem;
    color: #1b262c;
}

#lightMode .card {
    background-color: white;
    color: #1b262c;
}

#lightMode #dropdownMenuButton2 {
    background-color: #0d6efd;
    color: white;
}

#lightMode .dropdown-menu {
    background-color: #0d6efd;
    color: white;
}